/*******************************************************************************
Babel Custom CSS
*******************************************************************************/

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* HOME */

.b-home-icon {
  font-size: 2em;
}

.home td {
  text-align: center;
}

.b-a {
  color: #df691a;
  text-decoration: none;
}
