---
layout: default
---


<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
				<h1 id="page-title">
					{% include home-button.html %}
					{% if page.icon %}<img src="{{page.icon}}" width="100"/>&nbsp;{% endif %}
			      	{{ page.name }}
				</h1>
        	</div>
      	</div>
    </div>

	<div class="row">
		<div class="col-lg-12">
			<h4 style="margin-bottom: 30px; margin-top: -10px;">
				{% include mark-status.html status=page.status %}
				&nbsp;&bull;&nbsp;<a href="#functional">Functional Programming</a>
				&nbsp;&bull;&nbsp;<a href="#features">Features</a>
				&nbsp;&bull;&nbsp;<a href="#blueprints">Blueprints</a>
			</h4>
		</div>
	</div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}
		</div>
	</div>

	<a name="functional"></a><p>&nbsp;</p>
	<div class="row">
		<div class="col-lg-12">
			<h3>
				Functional Programming
				<a class="pull-right" href="#top" title="Go to the top"><span class="glyphicon glyphicon-triangle-top"></span></a>
			</h3>
			<ol>
				{% for f in site.functionalFeatures %}
					{% assign feature = page.features[f] %}
					{% if feature == true %}
						{% for functional in site.functional %}
							{% if functional.iid == f %}
								<li><a href="{{ functional.url }}">{{ functional.name }}</a></li>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</ol>
		</div>
	</div>

	<a name="features"></a><p>&nbsp;</p>
	<div class="row">
		<div class="col-lg-12">
			<h3>
				Features
				<a class="pull-right" href="#top" title="Go to the top"><span class="glyphicon glyphicon-triangle-top"></span></a>
			</h3>
			<ol>
				{% for language in site.languages %}
					{% if language.layout=='feature' and language.language contains page.iid %}
						<li><a href="{{ language.url }}">{{ language.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ol>
		</div>
	</div>

	<a name="blueprints"></a><p>&nbsp;</p>
	<div class="row">
		<div class="col-lg-12">
			<h3>
				Blueprints
				<a class="pull-right" href="#top" title="Go to the top"><span class="glyphicon glyphicon-triangle-top"></span></a>
			</h3>
			<ol>
			{% for language in site.languages %}
				{% if language.layout=='feature' and language.language contains page.iid and language.code.gist%}
					<li><a href="#{{ language.iid }}">{{ language.name }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>


			{% for language in site.languages %}
				{% if language.layout=='feature' and language.language contains page.iid and language.code.gist %}
					<a id="{{language.iid}}">&nbsp;</a>
					<h2>
						{{ language.name }}
						<a class="pull-right" href="#top" title="Go to the top"><span class="glyphicon glyphicon-triangle-top"></span></a>
						<a class="pull-right" href="{{language.url}}" title="Go to the feature"><span class="glyphicon glyphicon-triangle-right"></span></a>
					</h2>
					{% gist language.code.gist %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>