---
layout: default
---

<div class="bs-docs-section">

	<div class="page-header">
    	<div class="row">
        	<div class="col-lg-12">
          		<h1 id="page-title">
			      	{{ page.name }}
					{% include home-button.html %}
				</h1>
        	</div>
      	</div>
    </div>

	<div class="row">
        <div class="col-lg-12">
			{{ content }}

			<h3>Languages</h3>
			<ul class="list-unstyled status_list">
				{% for language in site.languages %}
					{% if language.type=='language' and language.status!='HIDDEN' %}
						{% assign feature = language.oopFeatures[page.iid] %}
						<li>
							<small class="status_item">{% include mark-language-feature.html feature=feature %}</small>
							<a href="{{language.url}}">{{language.name}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>


</div>
